# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment directories
venv/
.env/

# Ignore test directories and files
tests/
.pytest_cache/

# Ignore Alembic migration cache
migrations/__pycache__/

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore other unnecessary files
*.log
*.md